---
export const prerender = true;

import  Layout from "@layouts/Layout.astro";
import ImageWrapper from "@components/ImageWrapper.astro";
import { getNotionPosts } from '@utils/notion';

export async function getStaticPaths() {
  const posts = await getNotionPosts();
  return posts.map(post => ({
    params: { slug: post.data.Slug },
    props: { post },
  }));
}

const { post } = Astro.props;
// İçeriği HTML olarak render et
const { Content } = post.rendered;
---
<Layout>
    <article>
      <h1>{post.data.Name}</h1>
      <div class="blog-content">
        <Content />
      </div>
{/*
      <p>Post Image</p>
      {post.data.Image && <ImageWrapper src={post.data.Image} alt={post.data.Name} />}
*/}
      
    </article>
</Layout>